<div class="container">
  @if (cashFlows$ | async; as cashFlows) {
    <div class="row p-3">
      <div class="col-9 bg-white rounded-3 p-3">
        <div class="row justify-content-between">
          <div class="col-4 bg-white">
            <div class="">
              <h3>Fluxo de caixa</h3>
            </div>
          </div>
          <div class="col bg-white">
            <div class="text-end">
              <div class="d-flex align-items-center"></div>
              <app-filter />
              <app-upsert />
              <button class="btn btn-danger ms-2" (click)="toggleChatAi()">
                @if (showChatAi()) {
                  Fechar
                } @else {
                  Abrir
                }
                Chat IA
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped-columns table-sm">
      <thead>
        <tr class="table-primary">
          <th>#</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        @for (cashFlow of cashFlows; track $index) {
          <tr>
            <td>
              <input type="checkbox" name="" class="form-check-input" />
            </td>
            <td>{{ cashFlow.description }}</td>
            <td>
              {{ cashFlow.amount | currency: "BRL" }}
            </td>
            <td>
              {{ cashFlow.status === "PAID" ? "Pago" : "Pendente" }}
            </td>
            <td>
              {{
                cashFlow.type === "INCOME"
                  ? "Receita"
                  : cashFlow.type === "EXPENSE"
                    ? "Despesa"
                    : "Investimento"
              }}
            </td>
          </tr>
        }
      </tbody>
    </table>
    <ul></ul>
  } @else {
    <p>Loading cash flows...</p>
  }
</div>
